<a href="https://colab.research.google.com/github/robertoarturomc/MetodosEstadisticos/blob/main/2_Reto_Modelado_Estadistico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Reto Modelaci√≥n Estad√≠stica
## 2. Funciones Avanzadas de Probabilidad

In [2]:
df <- read.csv("Customer-Churn-Records.csv")
head(df)

  RowNumber CustomerId Surname  CreditScore Geography Gender Age Tenure
1 1         15634602   Hargrave 619         France    Female 42  2
2 2         15647311   Hill     608         Spain     Female 41  1
3 3         15619304   Onio     502         France    Female 42  8
4 4         15701354   Boni     699         France    Female 39  1
5 5         15737888   Mitchell 850         Spain     Female 43  2
6 6         15574012   Chu      645         Spain     Male   44  8
  Balance   NumOfProducts HasCrCard IsActiveMember EstimatedSalary Exited
1      0.00 1             1         1              101348.88       1
2  83807.86 1             0         1              112542.58       0
3 159660.80 3             1         0              113931.57       1
4      0.00 2             0         0               93826.63       0
5 125510.82 1             1         1               79084.10       0
6 113755.78 2             1         0              149756.71       1
  Complain Satisfaction.Score Card.Type Point.Earned
1 1        2                  DIAMOND   464
2 1        3                  DIAMOND   456
3 1        3                  DIAMOND   377
4 0        5                  GOLD      350
5 0        5                  GOLD      425
6 1        5                  DIAMOND   484

### Conteos
¬øC√≥mo puedo saber cu√°ntos y cu√°les tipos distintos de *Card.Type* existen?

¬øC√≥mo puedo saber cu√°ntos y cu√°les tipos distintos de *Satisfaction.Score* existen?

¬øC√≥mo puedo saber cu√°ntas y cu√°les combinaciones de *Card.Type* con *Satisfaction.Score* existen?

In [3]:
unique(df$Card.Type)

[1] "DIAMOND"  "GOLD"     "SILVER"   "PLATINUM"

In [4]:
n_tarjetas <- length(unique(df$Card.Type))
n_tarjetas

[1] 4

In [5]:
unique(df$Satisfaction.Score)

[1] 2 3 5 4 1

In [6]:
n_scores <- length(unique(df$Satisfaction.Score))
n_scores

[1] 5

In [7]:
n_tarjetas * n_scores

[1] 20

### Permutaciones

Para sacar las distintas permutaciones de *k* elementos en *n* elementos, ten√≠amos la siguiente f√≥rmula:

$permutaciones = \dfrac {n!}{(n-k)!}$

Podemos calcularlo directamente. Por ejemplo, para tener las permutaciones de 2 elementos en 5:

In [13]:
factorial(5)/factorial(5-2)

[1] 20

Aunque tambi√©n podemos imprimir las distintas permutaciones usando el paquete *gtools*.

In [14]:
install.packages("gtools")

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

In [15]:
library(gtools)

In [16]:
permutations(5, 2)

      [,1] [,2]
 [1,] 1    2
 [2,] 1    3
 [3,] 1    4
 [4,] 1    5
 [5,] 2    1
 [6,] 2    3
 [7,] 2    4
 [8,] 2    5
 [9,] 3    1
[10,] 3    2
[11,] 3    4
[12,] 3    5
[13,] 4    1
[14,] 4    2
[15,] 4    3
[16,] 4    5
[17,] 5    1
[18,] 5    2
[19,] 5    3
[20,] 5    4

### Combinaciones

Para sacar las distintas combinaciones de *k* elementos en *n* elementos, ten√≠amos la siguiente f√≥rmula:

$combinaciones = \dfrac {n!}{k!(n-k)!} =  {n \choose k}$

Para tener las combinaciones de 2 elementos en 5:

In [18]:
factorial(5)/(factorial(2) * factorial(5-2) )

[1] 10

Aunque tambi√©n podemos imprimir las distintas combinaciones usando el paquete *gtools*.

In [19]:
combinations(5, 2)

      [,1] [,2]
 [1,] 1    2
 [2,] 1    3
 [3,] 1    4
 [4,] 1    5
 [5,] 2    3
 [6,] 2    4
 [7,] 2    5
 [8,] 3    4
 [9,] 3    5
[10,] 4    5

Tanto *combinations* como *permutations* permiten ser m√°s expl√≠cito, con alg√∫n vector en particular. Para el mismo ejemplo, si quisi√©ramos sacar todas las combinaciones y permutaciones tomando 2 elementos de las cinco vocales, podr√≠amos realizarlo de la siguiente manera:

In [20]:
permutations(5, 2, c("a", "e", "i", "o", "u"))

      [,1] [,2]
 [1,] a    e
 [2,] a    i
 [3,] a    o
 [4,] a    u
 [5,] e    a
 [6,] e    i
 [7,] e    o
 [8,] e    u
 [9,] i    a
[10,] i    e
[11,] i    o
[12,] i    u
[13,] o    a
[14,] o    e
[15,] o    i
[16,] o    u
[17,] u    a
[18,] u    e
[19,] u    i
[20,] u    o

In [21]:
combinations(5, 2, c("a", "e", "i", "o", "u"))

      [,1] [,2]
 [1,] a    e
 [2,] a    i
 [3,] a    o
 [4,] a    u
 [5,] e    i
 [6,] e    o
 [7,] e    u
 [8,] i    o
 [9,] i    u
[10,] o    u

### Particiones

El n√∫mero de particiones posibles de un conjunto de ùëõ elementos
con ùëü particiones es:

$particiones = \dfrac {n!}{n_1!n_2! ... n_r!} =  {n!\choose n_1,n_2, ... n_r} $

Donde $ùëõ_1$, $ùëõ_2$, $ùëõ_3$, ... , $ùëõ_r$ son el n√∫mero de elementos en cada una de las particiones

Por ejemplo, para dividir un grupo de 10 personas en parejas.

### Subconjuntos

El n√∫mero de todos los subconjuntos posibles de un conjunto de ùëõ objetos es igual a $2^n$

Por ejemplo, todos los subconjuntos posibles para un conjunto de 10 elementos es:

In [22]:
factorial(10)/(5 * factorial(2))

[1] 362880

Ejemplos:

En una caja de pernos se encuentran 8 gruesos, 5
medianos y 3 angostos.
Una caja de tuercas contiene 6 que ajustan a
los pernos gruesos, 4 que ajustan a los pernos
medianos y 2 que ajustan a los pernos angostos.

Se elige aleatoriamente un perno y una tuerca
¬ø Cu√°l es la probabilidad de que la tuerca ajuste
con el perno? R: 0.3854

In [23]:
(8/16 * 6/12) + (5/16 * 4/12) + (3/16 * 2/12)

[1] 0.3854167

En mi tabla de clientes, tengo una variable, llamada *NumOfProducts*. Por privacidad, no puedo saber _qu√©_ productos tiene cada qui√©n, pero s√© que mis productos son:

In [24]:
productos <- c("Cr√©dito", "Seguro", "Hipoteca", "Inversion")

Para un cliente que tiene NumOfProducts=2, ¬øen cu√°ntas combinaciones posibles uno de sus productos es un Seguro?

In [25]:
combinations(4,2, productos)

     [,1]      [,2]
[1,] Cr√©dito   Hipoteca
[2,] Cr√©dito   Inversion
[3,] Cr√©dito   Seguro
[4,] Hipoteca  Inversion
[5,] Hipoteca  Seguro
[6,] Inversion Seguro

En 3 de 6 combinaciones.

Agrega una nueva columna que agregue todas el n√∫mero combinaciones posibles de productos, sabiendo que hay 4 productos en total.

In [33]:
df["Combinaciones_Productos"] <- factorial(4) / factorial(4 - df$NumOfProducts)

head(df)

  RowNumber CustomerId Surname  CreditScore Geography Gender Age Tenure
1 1         15634602   Hargrave 619         France    Female 42  2
2 2         15647311   Hill     608         Spain     Female 41  1
3 3         15619304   Onio     502         France    Female 42  8
4 4         15701354   Boni     699         France    Female 39  1
5 5         15737888   Mitchell 850         Spain     Female 43  2
6 6         15574012   Chu      645         Spain     Male   44  8
  Balance   NumOfProducts HasCrCard IsActiveMember EstimatedSalary Exited
1      0.00 1             1         1              101348.88       1
2  83807.86 1             0         1              112542.58       0
3 159660.80 3             1         0              113931.57       1
4      0.00 2             0         0               93826.63       0
5 125510.82 1             1         1               79084.10       0
6 113755.78 2             1         0              149756.71       1
  Complain Satisfaction.Score Card.Type Point.Earned Combinaciones_Productos
1 1        2                  DIAMOND   464           4
2 1        3                  DIAMOND   456           4
3 1        3                  DIAMOND   377          24
4 0        5                  GOLD      350          12
5 0        5                  GOLD      425           4
6 1        5                  DIAMOND   484          12

## 2.b) Variables Aleatorias

In [34]:
# unique() tambi√©n sirve para encontrar mi espacio muestral

unique(df$Tenure)

 [1]  2  1  8  7  4  6  3 10  5  9  0

Ac√° puedo ver que *Tenure* es una variable Discreta, con valores del 0 al 10.

Pero, ¬øtendr√° una distribuci√≥n Uniforme? Veamos el conteo de cada uno de los posibles valores.

In [35]:
table(df$Tenure)

   0    1    2    3    4    5    6    7    8    9   10
 413 1035 1048 1009  989 1012  967 1028 1025  984  490

¬°Los valores var√≠an mucho!
Mi Dataset es, finalmente, una muestra del Universo total de clientes. Por lo tanto, es altamente probable que la Variable Aleatoria *Tenure* **no** de distribuya Uniformemente.

Pero a ver: ¬øpuedo ir investigando c√≥mo se distribuyen las variables en mi set de Datos? ¬°Claro que s√≠!

In [36]:
table(df$HasCrCard)

   0    1
2945 7055

In [38]:
sum(df$HasCrCard) / dim(df)[1]

[1] 0.7055

Si tomo al azar un cliente, la probabilidad de que este tenga una tarjeta de Cr√©dito se distribuir√° **Bernoulli**, con p=0.7055

Recordatorio: una variable aleatoria de Bernoulli representa casos experimentales donde s√≥lo existe √©xito o fracaso (sucede o no sucede).

Si, en cambio, tomo $n$ clientes al azar, y puesto que cada uno de ellos son eventos independientes, la probabilidad de que $k$ de ellos tengan Tarjeta de Cr√©dito se distribuye **Binomial**. Por ejemplo, si tomo una muestra de 5 elemenos, la probabilidad de que tres de ellos tenga tarjeta de cr√©dito es:

$p_x(k) = {n\choose k} p^k (1-p) ^{n-k} $


$p_x(3) = {5\choose 3} 0.7055^3 (1-0.7055) ^{5-3} $

In [41]:
# Puedo crear una funci√≥n que me ayude con el n√∫mero de combinaciones.
n_comb <- function(n, r) {
  return(factorial(n) / (factorial(r) * factorial(n - r)))
}

n_comb(5, 3)

[1] 10

In [43]:
# Entonces, la probabilidad ser√≠a:

p_3_en_5 <- n_comb(5, 3) * (0.7055)^3 * (1-0.7055)^2
p_3_en_5

[1] 0.3045521

Y puedo hacer un experimento para ver si es cierto. Aplicando la _Ley de los Grandes n√∫meros_, s√© que si repito suficientes veces el experimento, sabr√© que el valor ir√° "acerc√°ndose" a 0.3 aproximadamente

In [45]:
muestra <- sample(1:nrow(df), size=5,replace=FALSE)
muestra

[1] 9466 1716 1339 5147 4657

Obtengamos 1000 muestras de 5 elementos, y veamos en cu√°ntas de ellas hay 3 con Tarjeta de Cr√©dito

In [50]:
tarjetasCredito_muestras <- c()
for (i in 1:1000) {
muestra <- sample(1:nrow(df), size=5,replace=FALSE)
tarjetas_esta_muestra <- sum(df$HasCrCard[muestra])
tarjetasCredito_muestras <- c(tarjetasCredito_muestras, tarjetas_esta_muestra)
}

In [51]:
table(tarjetasCredito_muestras)

tarjetasCredito_muestras
  0   1   2   3   4   5
  2  23 113 299 379 184

In [53]:
table(tarjetasCredito_muestras)[4] / 1000

    3
0.299

Valor que es, efectivamente, aproximado, al 30.45 % que hab√≠a calculado.

De la misma manera, ser√≠a interesante analizar de qu√© manera se distribuir√≠an las dem√°s variables. Por ejemplo, *Age* y *Tenure*, al hacer referencia al tiempo, quiz√° se distribuyan Poisson...

### Valor esperado de una Variable Discreta

Lo definimos como el posible valor de la variable, por la probabilidad de que tome ese valor. Es decir, un promedio ponderado.

$E(X) ) \sum x p_x(X) $

In [56]:
# ¬øCu√°l ser√° el valor Esperado de Tenure?

table(df$Tenure)

   0    1    2    3    4    5    6    7    8    9   10
 413 1035 1048 1009  989 1012  967 1028 1025  984  490

In [57]:
# Calculo las probabilidades individuales
table(df$Tenure) / 10000

     0      1      2      3      4      5      6      7      8      9     10
0.0413 0.1035 0.1048 0.1009 0.0989 0.1012 0.0967 0.1028 0.1025 0.0984 0.0490

In [67]:
# Calculo el valor esperado
esperado_Tenure <- sum( (table(df$Tenure) / 10000) * c(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) )
esperado_Tenure

[1] 5.0128

In [69]:
# Lo cu√°l, como sabemos, ser√≠a igual al promedio:
mean(df$Tenure)

[1] 5.0128

### Varianza y Desviaci√≥n Est√°ndar

In [71]:
# Puedo calcular la Varianza de una variable de la siguiente manera:
var(df$Tenure)

[1] 8.364673

In [72]:
# Y la desviaci√≥n est√°ndar de dicha variable, es la ra√≠z cuadrada de la varianza:
sqrt(var(df$Tenure))

[1] 2.892174

In [73]:
sd(df$Tenure)

[1] 2.892174